<form class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="For add task- write and click ENTER...">
    </div>
</form>

<div class="col-md-10">
    <div *ngFor="let task of tasks">
        <div class="row">
            <div class="col-md-1">
                <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
            </div>
            <div class="col-md-7">
                {{task.title}}
            </div>
            <div class="col-md-4">
                <input type="button" (click)="deleteTask(task._id)" value="DELETE" class="btn btn-danger">
            </div>
        </div>
        <br/>

    </div>
</div>
